* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}
html{
  height: 100%;
}
body {
  min-height: 100%;
  background: rgb(255, 149, 0);
  background: radial-gradient(
    circle,
    rgba(255, 149, 0, 1) 0%,
    rgba(255, 0, 35, 1) 100%
  );
}
.container{
  display: grid;
  grid-template: 
        "main main" auto
        "footer footer" 150px /
          auto   auto ;
}
.div-login{
  display: grid;
  gap: 1rem;
}


.main h1{
  color: white;
  font-size: 2rem;
}

.main {
 grid-area: main;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex-wrap: wrap;
  
}

.footer {
  grid-area: footer;
  background-color: rgba(5, 5, 5, 0.925);
  color: rgba(196, 186, 186, 0.678);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  height: 25px;
  width: 70px;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: .5rem;
}
.submit:hover {
  background-color: rgb(165, 97, 42);
  cursor: pointer;
}
.input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: 20px;
  font-size: 1rem;
}

input {
  background-color: white;
  border: 1px solid white;
}
.swal2-confirm {
  background-color: rgb(255, 149, 0) !important;
  border: 1px solid rgb(255, 149, 0) !important;
}


#img-pikachu {
  animation: pikachuAnimate 4s linear infinite;
}

@keyframes pikachuAnimate {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}



@media (max-width: 938px) {


  .container{
    grid-template:
      "main"
      "footer";
  }
}

@media (max-width: 855px) {

  .div-login{
   margin-top: 10rem;
  }
  #img-pikachu{
    margin-bottom: 10rem;
  }
}

@media (max-width: 476px) {




  .main h1{
    font-size: 2rem;
  }

  .input {
    width: 200px;
    height: 5px;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
  }
  

  #img-pikachu{
    width: 75%;
  }
}

